body{
    background-image: url(.//image/Curiosity\ blue.jpg);
}
#mi{
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
#sc{
    width: 45%;
    margin-top: 50px;

}
#inpt{
    width: 70%;
    height: 40px;
    outline: none;
    border: none;
color: white;
text-align: center;
font-size: 25px; 
margin-bottom: 8px;
margin-left: 10px;
transform: none;
   background-color: transparent;
   
}
#inpt::placeholder{
    color: white;
}
#ch{
    border: 1px solid black;
background-color:#78a4d68e;
border-radius: 50px;
border: none;
border: 2px solid orange;
}
.lo{
    font-size: 30px;
}